* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 60em;
    max-width: 100%;
    font-size: calc(.5vw + .8em);
    padding: .5em;
}

img {
    max-width: 100%;
}

aside, section {
    padding: .5em;
}

header, footer {
    padding: 1em;
    text-align: center
}

footer {
    clear: both;
}

.responsive-table {
    overflow-x: auto;
    margin: 1em 0;
}

@media (min-width: 800px) {

    aside, section {
        float: right;
    }

    aside {
        width: 30%;
    }

    section {
        width: 70%;
    }
}

@media (max-width: 800px) and (min-width: 550px) {
    aside img {
        float: left;
        width: 50%;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    aside h3 {
        margin: 0;
    }

    aside p {
        float: left;
        width: 50%;
    }
}